<p>Someone requested a password reset for a {{siteName}} account associated with the {{userEmail}} email address.</p>
<p>If this was a mistake, just ignore this email and nothing will happen.</p>
To reset your password, visit the following <a href="{{url}}">webpage</a>.

